<!DOCTYPE html>
<html dir="ltr" lang="en-US" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
{{>head}}

<style>

    .comment-input{
        height: 100px;

    }

    body {font-family: Arial, Helvetica, sans-serif;}

    /* Full-width input fields */
    input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    /* Set a style for all buttons */
    button {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }

    button:hover {
        opacity: 0.8;
    }

    /* Extra styles for the cancel button */
    .cancelbtn {
        width: auto;
        padding: 10px 18px;
        background-color: #f44336;
    }

    /* Center the image and position the close button */
    .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
        position: relative;
    }

    img.avatar {
        width: 40%;
        border-radius: 50%;
    }

    .container {
        padding: 16px;
    }

    span.psw {
        float: right;
        padding-top: 16px;
    }

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        padding-top: 60px;
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
    }

    /* The Close Button (x) */
    .close {
        position: absolute;
        right: 25px;
        top: 0;
        color: #000;
        font-size: 35px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: red;
        cursor: pointer;
    }

    /* Add Zoom Animation */
    .animate {
        -webkit-animation: animatezoom 0.6s;
        animation: animatezoom 0.6s
    }

    @-webkit-keyframes animatezoom {
        from {-webkit-transform: scale(0)}
        to {-webkit-transform: scale(1)}
    }

    @keyframes animatezoom {
        from {transform: scale(0)}
        to {transform: scale(1)}
    }

    /* Change styles for span and cancel button on extra small screens */
    @media screen and (max-width: 300px) {
        span.psw {
            display: block;
            float: none;
        }
        .cancelbtn {
            width: 100%;
        }
    }

   .comment{
       background-color: #8c8c8c;
       width: 800px;
       height: auto;
   }

    .tip {
        width: 0px;
        height: 0px;
        position: absolute;
        background: transparent;
        border: 10px solid #ccc;
    }

    .tip-up {
        top: -25px; /* Same as body margin top + border */
        left: 10px;
        border-right-color: transparent;
        border-left-color: transparent;
        border-top-color: transparent;
    }

    .tip-down {
        bottom: -25px;
        left: 10px;
        border-right-color: transparent;
        border-left-color: transparent;
        border-bottom-color: transparent;
    }

    .tip-left {
        top: 10px;
        left: -25px;
        border-top-color: transparent;
        border-left-color: transparent;
        border-bottom-color: transparent;
    }

    .tip-right {
        top: 10px;
        right: -25px;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
    }

    .dialogbox .body {
        position: relative;
        max-width: 300px;
        height: auto;
        margin: 20px 10px;
        padding: 5px;
        background-color: #DADADA;
        border-radius: 3px;
        border: 5px solid #ccc;
    }

    .body .message {
        min-height: 30px;
        border-radius: 3px;
        font-family: Arial;
        font-size: 14px;
        line-height: 1.5;
        color: #797979;
    }

    .slide-img{
        height: 500px;
        width: 500px;
        padding-bottom: 10px;
    }


    body{
        background-color: #222222;
    }

    .img-container{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
    }

    .add-button{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
    }

    .menu-bar{
        background-color: #080808;
        height: 40px;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }

</style>

<body class="container">

<!--<form action="https://mongo-proj-r7tphv.turbo360-vertex.com/api/create" method="post">
    <input type="text" name="firstName" placeholder="firstname">
    </br>
    <input type="text" name="lastName" placeholder="lastname">
    </br>
    <input type="text" name="age" placeholder="age">
    </br>
    <input type="text" name="team" placeholder="team">
    </br>
    <input type="text" name="position" placeholder="position">
    </br>
    <input type="submit" value="add">
</form>-->
<form action=""></form>
<!-- Turbo library imports: jQuery, Turbo CDN, sample app.js.
NOTE: These should be minified in a build script -->
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/css" src="style.css"></script>

<!-- For file uploading. Remove if file upload not necessry -->
<script type="text/javascript" src="/js/dropzone.js"></script>

<!-- Turbo CDN. Better to use CDN than to store locally. -->
<script type="text/javascript" src="https://cdn.turbo360-dev.com/dist/turbo.min.js"></script>

<!-- Your app specific code -->
<script type="text/javascript" src="/app.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        //$("button").click(function () {
            $.getJSON("/api/gary", function (result) {
                    console.log(result.data);
                    for (let j = 0; j < result.data.length; j++) {
                        let image = document.createElement("img");
                        image.src = result.data[j].img;
                        image.className = "slide-img";
                        $(".img-container").append(image);
                        addComment(result.data[j].comment)
                    }
          //  });
        });
    });
    
    
    function addComment(str) {
        let dialogbox = document.createElement('div');
        dialogbox.className = "dialogbox";
        let body = document.createElement('div');
        body.className = "body";
        let tipup = document.createElement('span');
        tipup.className = "tip tip-up";
        let message = document.createElement('div');
        message.className = "message";

        message.innerText = str;

        dialogbox.append(body);
        body.append(tipup);
        body.append(message);
        $(".img-container").append(dialogbox);

    }
    
</script>



<div class="menu-bar">

</div>


<!--<button>Get JSON data</button>-->
<div class="img-container">

</div>
<button class="add-button" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Add</button>




<div id="id01" class="modal">

    <form class="modal-content animate" action="/api/gary/create" method="post">
        <div class="container">
            <label for="uname"><b>Link</b></label>
            <input type="text" placeholder="Enter link" name="img" required>

            <label for="psw"><b>Comment</b></label>
            <input class = "comment-input" type="text" placeholder="Comment..." name="comment" required>

            <button type="submit">Add</button>
        </div>

        <div class="container" >
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        </div>
    </form>
</div>

<script>
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>

</body>
</html>




